---
layout: default
title: Projetos
header_bg_img: bg_3_gs.jpg
---
{% capture heading %}
<h1 class="mb-4">Projetos</h1>
<p class="mb-4">Aqui vem uma descrição do que encontrar nesta página...</p>
{% endcapture %}
{% include content-header.html content=heading %}

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="sidebar-box ftco-animate fadeInUp ftco-animated">
						<h3 class="sidebar-heading">Áreas de Interesse</h3>
						<div class="tagcloud">
							{% for a in (1..6) %}
								<div class="tag-cloud-link">Area {{a}}</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="row">
					{% assign repos = site.github.public_repositories | sort: 'created_at' | reverse %}
					{% for repo in repos %}
						<div class="col-lg-4">
							<div class="blog-entry ftco-animate">
								<!--<a href="#" class="img img-2" style="background-image: url(images/image_1.jpg);"></a>-->
								<div class="text text-2 pt-2 mt-3">
									<span class="category mb-3 d-block">{{repo.language}}</span>
									<h3 class="mb-4"><a href="{{repo.html_url}}">{{ repo.name }}</a></h3>
									<p class="mb-4">{{ repo.description }}</p>
									<div class="author mb-4 d-flex align-items-center">
										<a href="{{repo.owner.url}}" class="img" style="background-image: url({{repo.owner.avatar_url}});"></a>
										<div class="ml-3 info">
											<span>Written by</span>
											<h3><a href="{{repo.owner.url}}">{{repo.owner.login}}</a>, <span>{{repo.created_at | date: "%b %d %Y"}}</span></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>