<div class="hero-wrap js-fullheight" style="background-image: url(images/{{page.header_bg_img}});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            {% if page.header_img_bubble %} 
            <div class="img mb-4" style="background-image: url(images/{{page.header_img_bubble}});"></div>
            {% endif %}
            <div class="desc">
                {{ heading }}
            </div>
        </div>
    </div>
</div>